.header {
  width: 100%;
  height: 20vh;
  background-color: orange;
}

/* .footer {
  width: 100%;
  height: 10vh;
  background-color: blue;
} */

.menu {
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  text-decoration: none;
  font-size: 25px;
  margin-right: 20px;
}

.links {
  padding-top: 8vh;
  margin-left: 20px;
}

.footer {
  position: fixed;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: orange;
  font-size: 20px;
}


.image__url
 {
height: 400px;
width: 400px;
margin-top: 15px;
 }


