<div class="header">
  <nav class="menu">
  <div class="links">
    <LinkTo @route="about" class="menu-item">
      About
    </LinkTo>
    <LinkTo @route="contact" class="menu-item">
      Contact
    </LinkTo>
    <LinkTo @route="photos" class="menu-item">
      Photos
    </LinkTo>
    <LinkTo @route="cats" class="menu-item">
      Cats
    </LinkTo>
  </div>
</nav>
</div>